nav {
  top: 0;
  box-shadow: 0px 13px 24px 0px rgba(0, 0, 0, 0.08);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(0, 0, 0, 0.253) !important;
  font-size: 15px;
}
nav .navbar-collapse.collapse {
  text-align: center;
  display: block;
  background-color: rgba(0, 0, 0, 0.897);
}

nav .navbar-collapse {
  transition: 0.6s all ease-in-out;
  height: 0 !important;
}

nav li {
  padding-left: 90px;
}

.nav-links {
  color: #fff !important;
  text-decoration: none;
}
.nav-links:hover {
  border-bottom: 2px solid rgb(200, 255, 0);
}

.nav-sign-link {
  color: #fff !important;
  text-decoration: none;
  padding: 5px 15px 8px 15px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgb(121, 1, 129) 0%,
    rgba(140, 0, 189, 1) 46%,
    rgba(115, 0, 255, 1) 100%
  );
}

@media (max-width: 991px) {
  nav .navbar-collapse.collapse {
    overflow: hidden;
  }
  nav .navbar-collapse.active {
    height: 100vh !important;
  }

  nav ul {
    margin-right: 25%;
  }

  nav li {
    margin: 40px;
    border-bottom: 0;
  }
}
